.quadro {
    background-color: aliceblue;
}
#quadro_um {
    background-color: red;
    width: 80;
    height: 80;
    position: absolute;
    top: 0ch;
    left: 0ch;
}
#quadro_2 {
    background-color: green;
    width: 80;
    height: 80;
    position: absolute;
    bottom: 0ch;
    left: 0ch;
    
}
#quadro_3 {
    background-color: yellow;
    width: 80;
    height: 80;
    position: absolute;
    right: 0ch;
    top: 0cm;
}
#quadro_4 {
    background-color: blue;
    width: 80;
    height: 80;
    position: absolute;
    bottom: 0ch;
    right: 0ch;
 versao
}